In [2]:
import pandas as pd
import numpy as py

In [3]:
#导入数据
data1 = pd.read_excel('./cumcm2018c1.xlsx')
data2 = pd.read_csv('./cumcm2018c2.csv', encoding='UTF-8')

C:\Users\zzx\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#转化为日期格式数据
data1['csrq'] = pd.to_datetime(data1['csrq']) 
data1['djsj'] = pd.to_datetime(data1['djsj'])
data2['dtime'] = pd.to_datetime(data2['dtime'])

In [5]:
#重复值处理
data1['kh'] = data1['kh'].drop_duplicates()
print(data1['kh'].shape)

(194740,)

In [6]:
#缺失值处理
data1 = data1.dropna()
data2 = data2.dropna()
data1.isnull().sum()
data2.isnull().sum()

kh       0
dtime    0
spbm     0
sl       0
sj       0
je       0
spmc     0
jf       0
syjh     0
djh      0
gzbm     0
gzmc     0
dtype: int64

In [7]:
#异常值处理
data2.describe().astype(int)
data2 = data2.drop(data2[data2.sl < 0].index)
data2 = data2.drop(data2[data2.je < 0].index)
data2 = data2.drop(data2[data2.jf < 0].index)
print(data2.describe().astype(int))

           sl       sj       je      jf    syjh    gzbm
count  849697   849697   849697  849697  849697  849697
mean        1     1400     1375    1066     106    6313
std         1     3247     3238    2012      82    2373
min         1        0        0       0       1    1001
25%         1      330      324     190      41    4334
50%         1      695      690     520      97    8064
75%         1     1584     1550    1282     156    8123
max      1492  1342515  1342515  268503     320    9005

In [8]:
#合并表一表二
task = pd.merge(data1,data2,on='kh',how='outer')

,kh,csrq,xb,djsj,dtime,spbm,sl,sj,je,spmc,jf,syjh,djh,gzbm,gzmc
0,c68b20b4,2002-11-02,0.0,2013-05-11 00:00:00.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a37cc182,1967-02-17,0.0,2004-12-31 21:24:34.216,2016-09-25 10:49:14.016,d62a69e3,1.0,499.0,297.07,WMF D无,297.08,101.0,7cd8,7296.0,WMF 柜
2,a37cc182,1967-02-17,0.0,2004-12-31 21:24:34.216,2016-09-25 10:49:14.016,d62a69e3,1.0,12288.0,11089.93,WMF D无,11089.92,101.0,7cd8,7296.0,WMF 柜
3,a37cc182,1967-02-17,0.0,2004-12-31 21:24:34.216,2017-02-28 17:17:35.533,252403ef,1.0,598.0,598.00,双立人商品 F无,598.00,102.0,ed0a,7242.0,双立人柜
4,2ab88539,1982-06-01,0.0,2010-11-19 00:00:00.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963155,0c681480,NaT,NaN,NaT,2018-01-03 18:50:18.563,30768d8b,1.0,320.0,320.00,圣罗兰纯口红/唇釉/纯魅/蜜糖/金粹,320.00,101.0,02d4,8187.0,YSL
963156,9f94209d,NaT,NaN,NaT,2018-01-03 18:55:52.656,6feea3f5,1.0,770.0,770.00,APM 正价无,770.00,156.0,926a,8210.0,APM
963157,9f94209d,NaT,NaN,NaT,2018-01-03 18:55:52.656,6feea3f5,1.0,680.0,680.00,APM 正价无,680.00,156.0,926a,8210.0,APM
963158,1d5a0026,NaT,NaN,NaT,2018-01-03 19:40:07.936,7866a959,1.0,520.0,520.00,雅诗兰黛竹粹水/淡斑精粹水.,520.00,102.0,66ff,8085.0,雅诗兰黛ESTEE LAUDER
963159,2d9b0d8a,NaT,NaN,NaT,2018-01-03 19:52:12.436,98355c3d,1.0,460.0,460.00,SK-II护肤洁面霜120g,460.00,97.0,533e,8164.0,SK-II